*{ 
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Css parte superior */
.bg-header{
    display: flex;
    justify-content: space-between;
    color: black;
    padding: 1vh 2vh 0vh 2vh;

    border-bottom: solid 1.5px black;
    margin-left: auto;
    margin-right: auto;
}
.voltar a{
    color: black;
}

.item_icons svg{
    padding: 3px;
}

/* Css conteudo */
.body{
    overflow: hidden;
}

.conteudo{
    margin-top: 3vh;

}

.contact{
    text-align: center;
    margin-top: 4vh;
}

.contact svg{
    margin-bottom: 1vh;
}
.contact a {
    color: black;
    text-decoration: underline;
}
/* Css botao */
.contact button{
    background-color: rgb(1, 196, 1);
    border: none;
    border-radius: 1.5vh;
    color: white;

    max-width: 30vh;
    min-width: 30vh;
    max-height: 5vh;
    min-height: 5vh;
}