*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Css parte superior */
.bg-header{
    display: flex; 
    color: black;
    padding: 1vh 2vh 0vh 2vh;

    border-bottom: solid 1.5px black;
    margin-left: auto;
    margin-right: auto;
}
.item_dev{
    display: flex;
    justify-content: center;
}
.item_icons{
    display: flex;
    justify-content: end;
    
}
.item_icons svg{
    padding: 3px;
}

/* css botao dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    position: fixed;
    width: auto;
    height: 8vh;
    background-color:black ;
    color: white;
    border-radius: 0 1vh 1vh 0;

}
  
  
.dropdown_link {
    display: none;
    position: fixed;
    background-color:black;
    height: 60vh;
    min-width: 30vh;
    max-width: 30vh;
    border-radius: 0 2vh 2vh 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 3vh;
    
}

.dropdown_link li{
    display: flex;
    margin-top: 1vh;
    margin-bottom: 2vh;

    border-bottom:  solid 1px white;

}
.dropdown_link li svg{
    width: 4vh;
    height: 4vh;
    color: white;
    margin-right: 2vh;
}
.dropdown_link a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown_link a:hover{
    background-color: white;
    color: black;
    width: 100%;
    border-radius:2vh ;
}
.dropdown_link svg:hover{
    color: black;
}
  
.dropdown:hover .dropdown_link {
     display:block; 
}
  


/* css page */
.body{
    overflow: hidden;
}

/* Css efeito no "Developer web" */
.digitando::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .5s infinite;
}

/* função piscar */
@keyframes pisca {
    from {
        opacity: 1;

    }

    to {
        opacity: 0;
    }
}


/* conteudo */
.conteudo{
    margin-top: 10vh;
    text-align: center;
}
.sobre_mim{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.centro_text{
    margin-left: auto;
    margin-right: auto;
    min-width: 20vh;
    max-width: 50vh;
}
/* Logos das tecnologias */
.tecnologia svg{
    width: 6vh;
    height: 6vh;
    margin-top: 2vh;
    margin-bottom: 6vh;
}

/* botoes de link */
.about_me button{
    background-color: white;
    border: solid 2px black;
    border-radius: 3px;

    min-width: 12vh;
    max-width: 12vh;
    min-height: 4vh;
    max-height: 4vh;
   
    margin-bottom: 6vh;
}
.about_me button:hover{
    border: solid 2px blue;
}
.about_me a {
    color: black;
}
.about_me a:hover{
    cursor: pointer;
    text-decoration: none;
    color: blue;
}
/* Css imgem */
.imagem img{
    min-width: 40vh;
    max-width: 40vh;

}

/* Css container um pouco sobre mim */
.divisao{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.title2_mais_sobre{
    text-align: center;
}

.conteudo_mais_sobre{
    margin-top: 6vh;
}
/* css img */
.imagem_pessoal img{
    border: 1px solid black;
    border-radius: 100%;

    min-width: 30vh;
    max-width: 40vh;
    min-height: 30vh;
    max-height: 40vh;
}

.imagem_pessoal{
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 3vh;

}
/* css testo */
.texto{
    display: flex;
}
/* /* css linha vertical */

#linha_vertical{
    height: 13rem;
    border-right: 1px solid blue;
    margin-right: 3vh;
}
/* @media(width: 780px){
    #linha_vertical{
        width: 60vh;
        border-top: 1px solid red;
       
    }
}  */

.texto p{


}